config {

    testsDir "tests"
    workDir "/home/tatiana/workdir_nextflow"
   // configFile "modules/local/sq_apply_multi_stack_alignment/tests/nextflow.config"
    //configFile "modules/local/sq_stack_alignment/tests/nextflow.config"
     // configFile "modules/local/sq_stack_alignment2/tests/nextflow.config"
   // configFile "modules/local/sq_matrices_op/tests/nextflow.config"
    //configFile "modules/local/sq_generate_elastix/tests/nextflow.config"
    configFile "modules/local/sq_amst/tests/nextflow.config"
    profile ""

}

