profiles{
    conda { 
      conda.enabled=true
      process.conda='/home/tatiana/miniconda3/envs/squirrel-env-nov25'
      }

    apptainer_wsl{
        apptainer.enabled= true
        apptainer.autoMounts= true
        apptainer.cacheDir= '/home/tatiana/.apptainer/cache'
        apptainer.tmpDir = '/home/tatiana/.apptainer/tmp'
        container = "/home/tatiana/squirrel_nov2025_nextflow/squirrel_nextflow.sif"
      }
    docker_wsl{
        docker.enabled=true
        container="squirrel_docker:latest"
       }
    //apptainer_tier1{}
    //apptainer_tier2{}
}

params {
    outdir = "/home/tatiana/results_hr_d4_debug"
    input_raw="/home/tatiana/data_HR/A_matching_B" 
    folder_amst="amst"    
    aligned_taturtle="/home/tatiana/data_HR/taturtlesorted_amst"
    gaussian_sigma =  2
    n_workers = 8
    median_radius=7
    transform_amst="bspline"
    default_elastix="elastix-params-amst-gs256.txt"
    elx="FinalGridSpacingInPhysicalUnits:128  GridSpacingSchedule:4.0,3.0,2.0,1.0 MaximumStepLength:0.5 MaximumNumberOfIterations:1024"
    out_amst="transforms.json"
}

process {
    executor = 'local'
   

    withName: 'ELASTIX_APPLY_MULTI_STACK_ALIGNMENT' {
         // to change
        //container = "$VSC_SCRATCH_PROJECTS_BASE/2024_300/nextflow/containers/cellpose4.sif"
        //clusterOptions= "--account=2024_300   --partition=gpu_rome_a100_40  --gpus-per-node=1 --nodes=1"
        cpus= 8
        memory = '2 GB'
        publishDir = [
            path: {"${params.outdir}/amst"},
            mode: 'copy',
            saveAs: { filename -> filename }
           // pattern: 'sbs_align/*.{tif}'
        ]
        ext.args =  [
            "--auto_pad",
            "--n_workers", "${params.n_workers}"
        ].join(' ').trim()
    }

  
       withName: 'SQ_GENERATE_ELASTIX' {
         // to change
        //container = "$VSC_SCRATCH_PROJECTS_BASE/2024_300/nextflow/containers/cellpose4.sif"
        //clusterOptions= "--account=2024_300   --partition=gpu_rome_a100_40  --gpus-per-node=1 --nodes=1"
        cpus= 4
        memory = '2 GB'
        publishDir = [
            path: {"${params.outdir}/amst"},
            mode: 'copy',
            pattern: 'elastix-params-amst-gs256.txt'
        ]
    }
       withName: 'SQ_AMST' {
         // to change
        //container = "$VSC_SCRATCH_PROJECTS_BASE/2024_300/nextflow/containers/cellpose4.sif"
        //clusterOptions= "--account=2024_300   --partition=gpu_rome_a100_40  --gpus-per-node=1 --nodes=1"
        cpus= 8
        memory = '2 GB'
        publishDir = [
            path: {"${params.outdir}/amst"},
            mode: 'copy',
            pattern: 'transforms.json'
        ]
        ext.args =  [
            "--gaussian_sigma", "${params.gaussian_sigma}",
            "--transform", "${params.transform_amst}",
            "--median_radius", "${params.median_radius}",
            "--n_workers", "${params.n_workers}"
        ].join(' ').trim()
    }
}
