/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'ELASTIX_STACK_ALIGNMENT' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            pattern: '*.{json}'
        ]
        ext.args =  [
            "--determine_bounds",
            "--initialize_offsets_method", "${params.init_offset_meth}",
            "--gaussian_sigma", "${params.gaussian_sigma}",
            "--transform", "${params.transform}",
            "--auto_mask", "${params.automask}",
            "--n_workers", "${params.n_workers}"
        ].join(' ').trim()
    }

    withName: 'ELASTIX_APPLY_MULTI_STACK_ALIGNMENT' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
        ext.args =  [
            "--auto_pad",
            "--n_workers", "${params.n_workers}"
        ].join(' ').trim()
    }

    withName: 'ELASTIX_STACK_ALIGNMENT_2' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            pattern: '*.{json}'
        ]
        ext.args =  [
            "--gaussian_sigma", "${params.gaussian_sigma}",
            "--transform", "${params.transform}",
            "--auto_mask", "${params.automask}",
            "--n_workers", "${params.n_workers}"
        ].join(' ').trim()
    }
    withName: 'LINALG_OP' {
        publishDir = [
            path: {"${params.outdir}/prealign"},
            mode: 'copy',
            pattern: 'prealigned.json'
        ]
    }
       withName: 'SQ_GENERATE_ELASTIX' {
        publishDir = [
            path: {"${params.outdir}/amst"},
            mode: 'copy',
            pattern: 'elastix-params-amst-gs256.txt'
        ]
    }
       withName: 'SQ_AMST' {
        publishDir = [
            path: {"${params.outdir}/amst"},
            mode: 'copy',
            pattern: 'transforms.json'
        ]
        ext.args =  [
            "--gaussian_sigma", "${params.gaussian_sigma}",
            "--transform", "${params.transform_amst}",
            "--median_radius", "${params.median_radius}",
            "--n_workers", "${params.n_workers}"
        ].join(' ').trim()
    }
}

