// Enable conda
conda.enabled = true

// Parameters
params {
    yaml_prealign = "/home/tatiana/squirrel/params-prealign.yaml"
    output_sbs = "/home/tatiana/squirrel/results/prealign/sbs_alignment"
    outdir = "/home/tatiana/squirrel/results/prealign"
    output_extension = '{tif,tiff, json}'

// Process configuration
process {
   
    withName: 'ELASTIX_STACK_ALIGNMENT_SBS' {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
            pattern: "*.json"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
    withName: 'APPLY_ELASTIX_ALIGNMENT' {
        publishDir = [
            path: "${params.outdir}/sbs_alignment",
            mode: 'copy',
            pattern: "*.tif"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
    withName: 'ELASTIX_STACK_ALIGNMENT_NBS' {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
            pattern: "*.json"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
    withName: 'APPLY_ELASTIX_PREALIGNMENT' {
        publishDir = [
        [
            path: "${params.outdir}/pre_alignment",
            mode: 'copy',
            pattern: "*.tif"
        ],
        [
            path: "${params.outdir}/pre_alignment", 
            mode: 'copy',
            pattern: "*.tiff"
        ],
        [
            path: "${params.outdir}/pre_alignment",
            mode: 'copy', 
            pattern: "*.json"
        ]
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
}
}
