profiles{
conda { 
      conda.enabled=true
      process.conda='/home/tatiana/miniconda3/envs/squirrel-env'
      }
apptainer {
    apptainer.enabled=true //set to true
    apptainer.autoMounts=true //set to true
    process.container='/home/tatiana/squirrel/squirrel_debug.sif'
    process.containerOptions='-B /home/tatiana/test_data'    
}

// to debug
docker{
docker.enabled = false
process.container= 'squirrel:latest'
runOptions = '-u $(id -u):$(id -g)'  
}
}


// Parameters
params {
    yaml_prealign = "/home/tatiana/test_data/params-prealign.yaml"
    yaml_amst= "/home/tatiana/test_data/params-amst.yaml"
    output_sbs = "/home/tatiana/test_data/results/prealign/sbs_alignment"
    outdir = "/home/tatiana/test_data/results/prealign"
    outdir_amst = "/home/tatiana/test_data/results/amst"
    output_extension = '{tif,tiff,json}'
}

// Process configuration with container support
process {
    
    withName: 'ELASTIX_STACK_ALIGNMENT_SBS' {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
            pattern: "*.json"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
    withName: 'APPLY_ELASTIX_ALIGNMENT' {
        publishDir = [
            path: "${params.outdir}/sbs_alignment",
            mode: 'copy',
            pattern: "*.tif"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
    withName: 'ELASTIX_STACK_ALIGNMENT_NBS' {
        publishDir = [
            path: "${params.outdir}",
            mode: 'copy',
            pattern: "*.json"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
    withName: 'APPLY_ELASTIX_PREALIGNMENT' {
        publishDir = [
        [
            path: "${params.outdir}/pre_alignment",
            mode: 'copy',
            pattern: "*.tif"
        ],
        [
            path: "${params.outdir}/pre_alignment", 
            mode: 'copy',
            pattern: "*.tiff"
        ],
        [
            path: "${params.outdir}/pre_alignment",
            mode: 'copy', 
            pattern: "*.json"
        ]
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
        withName: 'AMST' {
        publishDir = [
        [
            path: "${params.outdir_amst}",
            mode: 'copy',
            pattern: "transform*.txt"
        ],
        [
            path: "${params.outdir_amst}",
            mode: 'copy',
            pattern: "elastix-params-amst-gs256.txt"
        ],
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
     withName: 'APPLY_AMST' {
        publishDir = [
            path: "${params.outdir_amst}/amst",
            mode: 'copy',
            pattern: "*.tif"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
}
