// Enable conda
conda.enabled = true

// Parameters
params {
    yaml_prealign = "/home/tatiana/squirrel/params-prealign.yaml"
    output_sbs = "sbs_prealignment"
    outdir = "/home/tatiana/squirrel/results/prealign"
}

// Process configuration
process {
    withName: 'ELASTIX_STACK_ALIGNMENT' {
        publishDir = [
            path: "${params.outdir}/sbs_alignment",
            mode: 'copy',
            pattern: "*.json"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
    withName: 'APPLY_ELASTIX_ALIGNMENT' {
        publishDir = [
            path: "${params.outdir}/sbs_alignment",
            mode: 'copy',
            pattern: "*.tif"
        ]
        cpus = 2
        memory = '1.GB'
        time = '1.h'
    }
}
