/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    squirrel Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

params {
    // Base paths
    basepath = '/lustre1/scratch/348/vsc34840'
    envpath= '/data/leuven/348/vsc34840/miniconda3/envs'
    scratch_base = '/lustre1/scratch/348/vsc34840'
    basepath_wsl='/home/tatiana/'
    
    // Input/output to change  the basepath saccording to where you run the pipeline
    input_dir = "${params.basepath}/Anneke/mini_d2"
    outdir = "${params.basepath}/Anneke/results_d2"

    // nf-core/configs integration
    custom_config_version = 'master'
    custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // GENERAL PARAMETERS FOR squirrel
    n_workers = 12 // add to modules or to modules.config
    gaussian_sigma =  2
    
    // ELASTIX_STACK_ALIGNMENT
    z_step0 = 1
    z_step1 = 8
    init_offset_meth = "init_elx"
    transform = "translation"
    out_json0= "sbs.json"
    out_json1= "nsbs.json"

    // ELASTIX_APPLY_MULTI_STACK_ALIGNMENT
    output_sbs="sbs_aligned"
    folder_sbs="sbs_align"
    folder_nsbs="nsbs_align" 
    folder_amst="amst"
    automask = "non-zero"

    // LINALG_OP
    json2="nsbs_zstep1.json"
    json3="combined.json" 
    json4="prealigned.json"

    // SQ_GENERATE_ELASTIX
    transform_default="amst-bspline"
    default_elastix="elastix-params-amst-gs256.txt"
    elx="FinalGridSpacingInPhysicalUnits:128 GridSpacingSchedule:2.0,1.4,1.2,1.0"

    // SQ_AMST
    out_amst="transforms.json"
    transform_amst="bspline"
    keepmeta=0
    median_radius=7

    // SLURM
    slurm_account = 'lp_hack_bio_im'
    slurm_account_t1 = '2024_300'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// Load nf-core institutional configs (uses params.custom_config_base)
includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ? 
    "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

// Set working directory
workDir = "${params.scratch_base}/work_nextflow"

profiles{
    conda_tier2{ 
      conda.enabled=true
      process.conda="${params.envpath}/squirrel-env-nov25"
      }
    singularity_tier2{
        singularity.enabled= true
        singularity.autoMounts=true
        singularity.cacheDir= "${params.basepath}/.apptainer/cache"
        singularity.tmpDir = "${params.basepath}/.apptainer/tmp"
        runOptions = '''
        --containall --cleanenv
    '''
    }
    singularity_tier1{
        singularity.enabled= true
        singularity.autoMounts=true
        singularity.cacheDir= "${params.basepath}/.apptainer/cache"
        singularity.tmpDir = "${params.basepath}/.apptainer/tmp"
        runOptions = '''
        --containall --cleanenv
    '''
    }
    conda_wsl { 
      conda.enabled=true
      process.conda='/home/tatiana/miniconda3/envs/squirrel-env-nov25'
      }
    apptainer_wsl{
        apptainer.enabled= true
        apptainer.autoMounts= true
        apptainer.cacheDir= '${params.basepath_wsl}/.apptainer/cache'
        apptainer.tmpDir = '${params.basepath_wsl}/.apptainer/tmp'
        container = "${params.basepath_wsl}/squirrel_nov2025_nextflow/squirrel_nextflow.sif"
    }
    docker_wsl{
        docker.enabled=true
        container="squirrel_docker:latest"
    }
}

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}
